body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.container {
  width: 400px;
  margin: 70px auto;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
  text-align: center;
  margin-bottom: 20px;
}

.logo img {
  width: 120px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #004d00;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: #004d00;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: #004d00;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #1fc51f;
}

#error-message {
  color: red;
  margin-top: 10px;
  text-align: center;
}
.help-text {
  margin-top: 15px;
  font-size: 14px;
  text-align: center;
}
